body {
  margin: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fa8bff;
  background-image: linear-gradient(
    90deg,
    #343634 0%,
    #54e61b 52%,
    #343634 90%
  );
  font-size: 5vh;
  border: solid, black, 20px;
  padding: 20px;
  font-weight: bold;
}

.weather {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.454);
}

.city {
  text-align: center;
}

h3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  font-size: 1vh;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.past-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5px;
  border-top: 5px solid rgba(128, 128, 128, 0.454);;
  font-size: 3vh;
  font-weight: bolder;
}

.past {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
} */

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre;
}

.hide {
  display: none;
}
